<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">
        <i class="fa fa-lg">Product page</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div>
            <button type="button" class="btn mr-2 text-white" style="background-color:  #AA1E28;">Đăng xuất</button>
        </div>
    </div>
</nav>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <div class="row">
                <div>
                    <h3 class="header" style="margin-left: 5rem;"> Xoá sản phẩm </h3>
                </div>
            </div>
            <form method="POST" action="">
                <div class="card-body">
                    <table>
                        <tr>
                            <th>Tên</th>
                            <th>
                                <input type="text" class="form-control" id="txtCatName" name="product_name" autofocus>
                            </th>
                        </tr>
                        <tr>
                            <th>Mô tả</th>
                            <th>
                                <input type="text" class="form-control" id="txtCatName" name="description" autofocus>
                            </th>
                        </tr>
                        <tr>
                            <th>Giá</th>
                            <th>
                                <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
                            </th>
                        </tr>
                        <tr>
                            <th>Số lượng</th>
                            <th>
                                <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
                            </th>
                        </tr>
                    </table>
                </div>
                <div style="margin-left: 5rem;">
                    <button class="btn btn-outline-success my-2 my-sm-0 main_color_button ml-5" type="submit">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Sửa
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>